aganitha-base-utils==0.1.7
aganitha-parsing-utils==0.13
alabaster==0.7.12
Babel==2.6.0
beautifulsoup4==4.9.3
certifi==2018.4.16
chardet==3.0.4
CIRpy==1.0.2
click==7.1.2
cssselect==1.1.0
Cython==0.29.21
docutils==0.14
filelock==3.0.12
fuzzywuzzy==0.18.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10
lxml==4.6.1
MarkupSafe==1.1.1
numpy==1.19.3
packaging==19.0
pandas==1.1.4
Pygments>=2.3.1
pyparsing==2.3.1
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2018.9
PyYAML==3.13
redis==3.5.3
requests==2.25.0
scipy==1.5.3
Shapely==1.7.1
six==1.12.0
snowballstemmer==1.2.1
soupsieve==2.0.1
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.1.0
typing-extensions==3.7.4.3
urllib3==1.24.1
XlsxWriter==1.3.7
